@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #282727;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primary-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Inter";
  background-color: var(--primary-background-color);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  padding: 20px;
}

#sidebar {
  width: 250px;
  background-color: var(--primary-background-color);
  color: #fff;
  padding: 20px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
}

#list-modal {
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#list-modal label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#list-modal input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#list-modal button {
  margin-top: 10px;
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#list-modal button:hover {
  background-color: #45a049;
}

/* Button for adding a list */
#add-list-button {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  padding: 10px;
  color: #282727;
  cursor: pointer;
  background-image: url("../assets/icons/plus-circle.svg");
}

#add-list-button:hover {  
  background-image: url("../assets/icons/plus-circle-solid.svg");
}

#menu-list {
  list-style-type: none;
  width: 100%;
  padding: 0;
  overflow-y: auto;
}

.list-button {
  width: 74%;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 10px;
  margin-bottom: 5px;
  text-align: left;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.list-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}


.list-button:hover {
  background-color: rgba(0, 0, 0, 0.1); 
}


.todo-container {
  flex: 1;
  background-color: var(--primary-background-color);
  padding: 20px;
  margin-left: 250px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  justify-content: flex-start;
  gap: 20px;
  position: relative;
}

.todo-container h2 {
  margin-bottom: 20px;
  color: black;
  font-size: 1.6rem;
  border-bottom: 2px solid #4caf50;
  padding-bottom: 5px;
}

.task-inputs {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.task-name {
  min-width: 100px;
  width: 150px;
  padding: 8px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 36px;
}

.task-date {
  padding: 8px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 36px;
}


.task-list,
.finished-tasks {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}


.task {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  gap: 10px;
}

.task span{
  padding-left: 10px;
}


.task input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-image: url('../assets/icons/ellipse-outline.svg');
  margin: 0;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.task input[type="checkbox"]::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
  border-radius: 2px;
}

.task input[type="checkbox"]:checked {
  background-image: url("../assets/icons/checkmark-circle-outline.svg");
}

.task input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.task .task-name {
  font-weight: bold;
  color: #333;
}

.task .task-date {
  font-size: 0.85rem;
  color: #888;
}

.task.completed .task-name {
  text-decoration: line-through;
  color: #888;
}

.task-handler button {
  margin-left: 10px;
  margin-top: 15px;
}

fieldset {
  border: none;
  border-radius: 8px;
  padding: 10px;
  overflow-y: auto;
  max-height: 200px;
  flex-grow: 1;
  margin-top: auto;
}

.delete-list-button {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  padding: 10px;
  background-image: url("../assets/icons/trash.svg");
  cursor: pointer;
}

.modify-task-button {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  padding: 10px;
  background-image: url("../assets/icons/edit-pencil.svg");
  cursor: pointer;
}

#download-button {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  padding: 10px;
  background-image: url("../assets/icons/download-square.svg");
  cursor: pointer;
}

#download-button:hover {
  background-image: url("../assets/icons/download-square-solid.svg");
}

#import-button {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  padding: 10px;
  background-image: url("../assets/icons/upload-square.svg");
  cursor: pointer;
}

#import-button:hover {
  background-image: url("../assets/icons/upload-square-solid.svg");
}

.add-task-button {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  padding: 10px;
  background-image: url("../assets/icons/plus-circle.svg");
  cursor: pointer;
}

.delete-task {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  padding: 10px;
  background-image: url("../assets/icons/trash.svg");
  cursor: pointer;
}


@media (max-width: 600px) {
  #sidebar {
    position: static;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .todo-container {
    margin-left: 0;
    width: 100%;
  }
}

.modify-list-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 400px;
  padding: 20px;
  background-color: #ffffff;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
}

.modify-list-container button {
  align-self: flex-end;
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modify-list-container .title-container,
.modify-list-container .tasks-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modify-list-container input[type="text"],
.modify-list-container input[type="date"] {
  padding: 8px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

.modify-list-container .modify-task-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modify-list-container .modify-task-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.modify-list-container button:last-child {
  align-self: flex-end;
  padding: 10px 15px;
  font-size: 0.9rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
